.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
}

.item-1 {
    margin-top: auto;
    grid-column: 3/4;
}

.item-2 {
    margin-top: auto;
    grid-column: 5/-1;
}